:root {
    --light-blue: #02b3e4;
    --black: #2d3c49;
    --light-grey: #7d97ad;
    --raleway: 'Raleway', sans-serif;
    --merriweather: 'Merriweather', serif;
}

.wrapper {
    max-width:1000px;
    margin:0 auto;
}

html, body {
    color: var(--black);
    font-family: var(--raleway);
}

.raleway {
    font-family: var(--raleway);
}

.upper {
    text-transform: uppercase;
}

.three-x {
    font-size: 3rem;
}

.one-half-x {
    font-size: 1.5rem;
}

.font-right {
    text-align: right;
}

.margin-remove {
    margin: 0;
}

.merriweather {
    font-family: var(--merriweather);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-33 {
    flex: 1 33%;
}

.text-center {
    text-align:center;
}

.w-100 {
    width: 100px;
}

img {
    max-width: 100%;
}

.horizontal-line {
    border: solid 3px var(--light-grey);
    background: var(--light-grey);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.featured {
    font-weight: lighter;
    font-size: 1.2rem;
    color: var(--light-grey);
}

.cite {
    font-size: 0.7rem;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.height-150 {
    height:150px;
}

.ml-85 {
    margin-left:85px;
}
.mt-30 {
    margin-top:30px;
}